In [1]:
# importing the required libraries

import pandas as pd

In [4]:
# reading the dataset 

df = pd.read_csv("data.csv")

In [5]:
# viewing the first few rows using head

df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [6]:
# selecting a single column by name

df['Bare_Nuclei']

0       1
1      10
2       2
3       4
4       1
5      10
6      10
7       1
8       1
9       1
10      1
11      1
12      3
13      3
14      9
15      1
16      1
17      1
18     10
19      1
20     10
21      7
22      1
23      ?
24      1
25      7
26      1
27      1
28      1
29      1
       ..
669     5
670     8
671     1
672     1
673     1
674     1
675     1
676     1
677     1
678     1
679     1
680    10
681    10
682     1
683     1
684     1
685     1
686     1
687     1
688     1
689     1
690     1
691     5
692     1
693     1
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: object

In [7]:
# Selecting muliple columns using column names

df[['Clump_Thickness','Marginal_Adhesion']]

     Clump_Thickness  Marginal_Adhesion
0                  5                  1
1                  5                  5
2                  3                  1
3                  6                  1
4                  4                  3
5                  8                  8
6                  1                  1
7                  2                  1
8                  2                  1
9                  4                  1
10                 1                  1
11                 2                  1
12                 5                  3
13                 1                  1
14                 8                 10
15                 7                  4
16                 4                  1
17                 4                  1
18                10                  6
19                 6                  1
20                 7                 10
21                10                  3
22                 3                  1
23                 8                  1
24                 1                  1
25                 5                  4
26                 3                  1
27                 5                  1
28                 2                  1
29                 1                  1
..               ...                ...
669                5                  8
670                3                  8
671                3                  2
672                2                  1
673                5                  1
674                1                  1
675                4                  1
676                1                  1
677                5                  1
678                1                  1
679                2                  1
680               10                 10
681                5                 10
682                5                  1
683                1                  1
684                1                  1
685                1                  1
686                1                  1
687                3                  1
688                4                  1
689                1                  1
690                1                  3
691                5                  5
692                3                  1
693                3                  1
694                3                  1
695                2                  1
696                5                  3
697                4                  4
698                4                  5

[699 rows x 2 columns]

In [ ]:
# selecting rows by their positions

df.iloc[:5]

In [ ]:
# selecting columns by their positions

df.iloc[:,:2]

In [ ]:
df[df['Cancer_Type']==2]